.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28, 229, 118);
  border-radius: 20px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.navbar-scrolled {
  background-color: #f8f9fa; 
}

.navbar-toggler {
  color: #fff; 
  border: none; 
  background-color: transparent; 
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-brand img {
  width: 100px; 
}

.navbar-nav {
  margin-left: auto; 
}

.navbar-nav .nav-item {
  margin-right: 20px; 
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #ffffff; 
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
}

.option {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.option .tooltip {
  display: none;
  position: absolute;
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.option:hover .tooltip {
  display: block;
}

.option.cart {
  position: relative;
}

.option.cart .badge {
  position: absolute;
  top: -8px;
  right: -8px;
}

.option.cart .badge span {
  background-color: #ff4d4f;
  color: #ffffff;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 0.8em;
}

.logout button {
  background-color: #ff5f6d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout button:hover {
  background-color: #ff3c4b;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-item-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4d4f;
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.welcome {
  margin-right: 10px;
}

.option.logout {
  display: flex;
  align-items: center; 
  padding: 10px;
}

.option.logout img {
  max-width: 50px;
  height: auto;
  margin-right: 10px; 
}

.option.logout .welcome {
  margin-right: 5px; 
}
