/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 60px
} */

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.bank-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.welcome-message {
  margin-right: 20px;
  width: 100%;
  text-align: right;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: auto;
}

.logout-icon {
  margin-right: 5px;
}
