.layout {
  display: flex;
  flex-direction: column;
  height: 200vh;
}



button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

button:focus {
  outline: none;
}

button:hover {
  color: #555;
}
