.reset-password-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-image: url(../assets/7800571.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(245, 245, 245, 0.8); /* Sử dụng màu trong suốt */
}

.reset-password-form-container {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền trong suốt */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.reset-password-form-title {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-form-group {
  margin-bottom: 20px;
}

.reset-password-input-container {
  display: flex;
  align-items: center;
}

.reset-password-input-container svg {
  margin-right: 10px;
}

.reset-password-form-control {
  flex: 1;
  padding: 10px;
}

.reset-password-btn-submit {
  display: block;
  width: 100%;
  padding: 12px;
}

.reset-password-btn-back {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}

.reset-password-error-message {
  color: red;
}
