.container {
  /* display: flex; */
  flex-direction: row;
  width: 100%;
}
#supportt-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#root > div > div > div:nth-child(1) > div > div > div > div:nth-child(2) {
  flex: 3;
}
.list-group {
  flex: 8;
}
.message-form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}


.message-form {
  width: 60%; 
}

/* Message input */
.message-input {
  flex: 1;
  border: 1px solid #ccc; 
  border-radius: 4px;
  padding: 15px;
  resize: none;
  margin-right: 10px;
  outline: none; 
  box-sizing: border-box; 
}

/* Send button */
.message-send-button {
  min-width: 120px; 
  padding: 15px; 
}

/* List group */
.list-group {
  border: 1px solid #ccc; 
  border-radius: 6px;
  padding: 10px;
}

/* List group items */
.list-group-item {
  border: none !important; 
}


.list-group-item + .list-group-item {
  margin-top: 10px;
}

.right-message {
  text-align: right;
}
h1 {
  display: none;
}
h2 {
  display: none;
}